.index{
	.balloon{
		top:268px;
		left:791px;
	}

	.island{
		position: absolute;
		background: url('../images/nwtc/CENTRAL-AREA.png') no-repeat;
		margin-top: 200px;
		margin-left: 250px;
		height:1139px;
		width:1335px;
	}
	.pinkCloud{
		position: absolute;
		top:640px;
		left:930px;
	}
	.elephant{
		position: absolute;
		top:300px;
		left:800px;
	}
	.diverAnim{
			position: absolute;
			top:455px;
			left: 240px;
		.diverMask{
			position: absolute;
			top:-20px;
			left:83px;
			height: 150px;
			width:150px;
			overflow: hidden !important;
		}
		.diver{
			position: absolute;
			top:130px;
			left: 10px;
			@include transition(all 1s ease-in-out);
		}
		.rainMask{
			position: absolute;
			height: 30px;
			width:260px;
			overflow: hidden;
			@include transition(all 1.5s ease-in-out);
		}
		.rain{
			position: absolute;
			top:10px;
			top: 10px;
		}
		
	}
	.man{
		position: absolute;
		top:270px;
		left:1080px;
	}
	.windmillGirl{
		position: absolute;
		top: 40px;
	}

	.bottleMan{
		position: absolute;
		left: 1620px;
		top: 170px;
	}

	.pansy{
		position: absolute;
		left: 550px;
		top: 190px;
	}

	.bath{
		position: absolute;
		top:780px;
		left:-70px;
	}

	.bottle{
		position: absolute;
		left:1010px;
		top: 170px;
		.bottleFall{
			position:absolute;
			top:0px;
			left:0px;
			@include transition(all 2s ease-in);
		}
	}

	.mushroom{
		position: absolute;
		left: 1600px;
		top: 670px;
	}

	.trumpet{
		position: absolute;
		top: 830px;
		right: -60px;
	}
	.bottleHit{
		position: absolute;
		top:150px;
		left:1010px;
		height: 150px;
		width: 100px;
		
	}
}