.oasthouse {
	background-image: linear-gradient(bottom, rgb(254,220,97) 2%, rgb(210,75,77) 100%);
	background-image: -o-linear-gradient(bottom, rgb(254,220,97) 2%, rgb(210,75,77) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(254,220,97) 2%, rgb(210,75,77) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(254,220,97) 2%, rgb(210,75,77) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(254,220,97) 2%, rgb(210,75,77) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.02, rgb(254,220,97)),
		color-stop(1, rgb(210,75,77))
	);

	.brush {
		position:absolute;
		width:100%;
		height:100%;
		display:block;
		background:url(../images/oasthouse/brush.png) no-repeat center center / 100% 100%;
	}

	.center-island {
	position:absolute;
	top: 25%;
	left: 22%;	

	h1 {
		text-align:center;
		margin:0px 0 20px 0;
		padding:0;
	}

	.go {
		display:none;
		position: absolute;
		top: 20px;
		right: 130px;
	}

	.mouse {
		width:424px;
		height:109px;
		display:block;
		position:absolute;
		left: 230px;
		top: 225px;

		.fred {
			width:112px;
			height:45px;
			display:block;
			background:url(../images/oasthouse/mousey.png) no-repeat;
			position:absolute;
			right: 6px;
			top: 13px;
			z-index:1;
		}

		.cover {
			background:url(../images/oasthouse/mouse-bg.png) no-repeat;
			width:424px;
			height:109px;
			display:block;
			z-index:2;
			position:absolute;
			top:0px;
			left:0px;
		}
	}

	.bee-hive {
		width:464px;
		height:194px;
		display:block;
		background:url(../images/oasthouse/bee-bg.png) no-repeat;
		position:absolute;
		top:184px;
		right:-10px;
		z-index:2;

		.bee {
			background:url(../images/oasthouse/bee.png) no-repeat;
			width:105px;
			height:118px;
			position: absolute;
			top: 0px;
			right: 0px;
			display: none;
		}

	}

}	


}



