@import "compass";
@import "normalize";
@import "nav";
@import "oasthouse";
@import "nwtc";
@import "botanist";
@import "smugglers";
.fake{
    position: absolute;
    top:-9999px;
    height:0;
    width:0;
}
html{
    height: 100%;
    width:100%;
}
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding:0;
    overflow: hidden;
    background: url(../images/nwtc/home_back.jpg)no-repeat center center fixed;
    background-size: cover !important;
    -o-background-size: cover !important;    
    -moz-background-size: cover !important;    
    -webkit-background-size: cover !important;
    transition:all 3s ease;
    -o-transition:all 3s ease;
    -moz-transition:all 3s ease;
    -webkit-transition:all 3s ease;
    transition: background 2000ms ease-in 500ms;
    -o-transition: background 2000ms ease-in 500ms;   
    -moz-transition: background 2000ms ease-in 500ms;   
    -webkit-transition: background 2000ms ease-in 500ms; /* property duration timing-function delay */
    overflow: hidden;
 

    .topB{
        position: absolute;
        top:-4px;
        left:0;
        min-width: 100%;
        height:70px;
        background: url(../images/topBorder.png) repeat-x;
        z-index: 99;
    }
    .rightB{
        position: absolute;
        top:0;
        right:-10px;
        min-width: 70px;
        min-height:100%;
        background: url(../images/rightBorder.png) repeat-y;
        z-index: 99;
    }
    .leftB{
        position: absolute;
        top:0;
        left:-2px;
        min-width: 70px;
        min-height:100%;
        background: url(../images/leftBorder.png) repeat-y;
        z-index: 99;
    }
    .bottomB{
        position: absolute;
        bottom:-8px;
        left:0;
        min-width: 100%;
        height:70px;
        background: url(../images/bottomBorder.png) repeat-x;
        z-index: 99;
    }
}


#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -516px;
    margin-left: -920px;
    min-height: 100%;
    min-width: 100%;

    
/* add browser support */
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;   
    -webkit-transform-style: preserve-3d;
    perspective: 1000;
    -o-perspective: 1000;
    -moz-perspective: 1000;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.trumpet{
    background:url('../images/nwtc/contact.png') no-repeat;
    position: absolute;
    bottom:0px;
    right:0px;
    height: 126px;
    width: 355px;
}

.page {
    position: absolute;
    //@include transition(all 3.5s ease-in-out);
    opacity: 1;
    right: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    left: 2000px;
}

.offPage {
    left: -2000px;
}
.balloon{
    position: absolute;
    @include transition(all 3.5s ease-in-out);
    z-index: 9000;
}
