@import "normalize";
@import "nav";

html, body {
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-top: -516px;
    margin-left: -960px;
    min-height: 100%;
    width: 1920px;
    height: 1032px;
}

.botanist {
    background: url('../images/botanist/bg.jpg');
}

.page {
    -webkit-transition: all 0.7s ease-in-out;
    opacity: 1;
}

.hidden {
    opacity: 0;
}